html {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	height: 100%;
	letter-spacing: 0.25px;
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

h1, h2 {
	font-kerning: normal;
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
}

h3 {
	font-kerning: normal;
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
}

.navbar {
	font-family: 'Oswald', sans-serif;
	font-kerning: normal;
	font-size: 1em;
	margin-left: 1%;
}

/* unvisited link */
.navbar a:link {
  color: #1EAEDB;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

/* visited link */
.navbar a:visited {
  color: #042c84;
  font-family: 'Oswald', sans-serif;
}

/* mouse over link */
.navbar a:hover {
  color: #364144;
  font-family: 'Oswald', sans-serif;
}

/* selected link */
.navbar a:active {
  color: #507a87;
  font-family: 'Oswald', sans-serif;
}

.navbar a {
	margin-left: 2%;
}

.nav-header {
	text-align: right;
}

footer {
    position:absolute;
    bottom:0px;
    width: 100%;
    margin: 0;
		text-align: center;
    background-color: #e5e5e5;
		color: black;
		font-family: 'Oswald', sans-serif;
    height: 30px;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.main section .page_container {
  position: relative;
  height: 100%;
  margin: 0 auto 0;
  z-index: 3;
}

.main section  {
  overflow: hidden;
}

/*.main section.page1 {
  background: #f5eaeb;
}*/

.opener-content {
	margin-top: 13%;
	margin-left: -8%;
}

.opener-content p {
	margin-top: -13%;
}

.opener .headshot img {
	height: 75%;
	width: 75%;
	margin-top: 20%;
}

/*.main section.page2 {
  background: #f5eaeb;
}*/

.main section.page2 .page_container {
  overflow: hidden;
}

.portfolio {
	margin-top: 4%;
}

.portfolio .design-code img {
	height: 75%;
	width: 75%;
}

.portfolio .design-code {
	background-color: #cb93a5;
	padding: 20px 20px 20px 20px;
	color: white;
}

.portfolio .photo-video {
	background-color: #abb1b4;
	padding: 20px 20px 20px 20px;
	color: white;
}

.portfolio .photo-video img {
	height: 100%;
	width: 100%;
}

.portfolio img:hover {
	opacity: 0.5;
}

/*.main section.page3 {
  background: #c0c2ce;
}*/

.main section.page3 .page_container {
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
}

.linsey-about {
	margin-top: 6%;
}

.about-content h1 {
	margin-bottom: -3%;
}

.about-content img{
	margin-left: 20px;
}

.about-content p {
	text-align: justify;
}

.about-content b {
	color: #4fb8ce;
}

.add-links {
	text-align: center;
	margin-left: 35px;
}
.technical-skill {
	background-color: #cb93a5;
}

.other-skill {
	background-color: #abb1b4;
}

.explore-skill {
	background-color: #cb93a5;
}
.tech-skill-content {
	padding: 0 5px 2px 5px;
	color: white;
	font-kerning: auto;
	font-weight: 100;
	font-size: 14px;
}

.ot-skill-content {
	padding: 0 5px 2px 5px;
	color: white;
	font-kerning: auto;
	font-weight: 100;
	font-size: 14px;
}

.exp-skill-content {
	padding: 0 5px 2px 5px;
	color: white;
	font-kerning: auto;
	font-weight: 100;
	font-size: 14px;
}

.skills p {
	margin-top: -3%;
	text-align: justify;
}

.skills h3 {
	/*margin-top: -2%;*/
	margin-left: 1%;
	color: white;
}

.main section.page4 .page_container {
  overflow: hidden;
}

/*.main section.page4 p {
	margin-top: -1%;
}*/

.extra b {
	color: #4fb8ce;
}

.extra p {
	margin-top: -1%;
}

.plan p {
	margin-top: -2%;
}


body.disabled-onepage-scroll .onepage-wrapper  section {
  min-height: 100%;
  height: auto;
}

body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page4 .page_container  {
  padding: 20px;
  margin-top: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.disabled-onepage-scroll  section .page_container h1{
  text-align: center;
  font-size: 50px;
  width: 100%;
}
body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
  text-align: center;
  width: 100%;
}

body.disabled-onepage-scroll .main section.page1 > img {
  position: absolute;
  width: 80%;
  left: 10%;
}

body.disabled-onepage-scroll code {
  width: 95%;
  margin: 0 auto 25px;
  float: none;
  overflow: hidden;
}

body.disabled-onepage-scroll .main section.page4 .page_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
