
body {
	background-color: #f7fbf7;
}

.accent {
	color: #3ab7af;
}

a {
	color: #3ab7af;
	-webkit-transition: ease 0.35s;
    transition: ease 0.35s;
}

a:hover {
	color: #ffb6c1;
}

.main-content {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 50px;
}

.main-description a {
	text-decoration: none;
}

.main-description a:hover {
	color: #ffb6c1;
}

.main-sidebar img {
	max-width: 100%;
}

.social-links i {
	width: 20px;
	height: 20px;
	color: #515151;
	-webkit-transition: ease 0.35s;
    transition: ease 0.35s;
}

.social-links a:hover i {
	color: #3ab7af;
}


@media only screen and (min-width: 48em) { 

	.main-content {
		max-width: 1000px;
		margin: 100px auto
	}

	.main-description {
		float: left;
		width: 60%;
	}

	.main-sidebar {
		float: right;
		width: 38%;
		padding-left: 10px
	}

	.main-sidebar img {
		max-width: 100%;
	}
}
