.snapwidget {
  margin-top: 13%;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

p {
  font-family: 'Oswald', sans-serif;
}

b {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 14px;
  color: blue;
}

.board {
  margin-top: 2%;
  /*background: #000000;*/
  /*border: 1px solid black;*/
  padding: 5px;
}

.opening-food {
  text-align: center;
}

.board img {
  width: 250px;
  height: 350px;
  float: left;
  padding: 2px;
}
